@charset "UTF-8";
/* ==========================================================
Name:
    base.css

Description:
    サイト全体に共通する設定を記述する

Contents:
    base settings
    javascript style hooks
    base blocks
========================================================== */
/* ==========================================================
*
*   base settings
*
========================================================== */
/* ---------------------------------------------
*   Noto Sans JP
--------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:500&display=swap");
/* ---------------------------------------------
*   html, body
--------------------------------------------- */
html,
body {
  color: #444;
  font-weight: 400;
  font-size: 2.9333333333vw;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  overflow: auto;
}

body {
  position: relative;
  line-height: 1.5;
  min-width: 320px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
body.open {
  overflow: hidden;
}

/* ---------------------------------------------
*   <a> tag
--------------------------------------------- */
a {
  color: inherit;
  text-decoration: none;
}

/* ---------------------------------------------
*   <img> tag
--------------------------------------------- */
img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* ---------------------------------------------
*   button
--------------------------------------------- */
button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.ebis-tag {
  height: 0;
}

* {
  outline-color: #fff !important;
}

/* ==========================================================
*
*   javascript style hooks
*
========================================================== */
/* ==========================================================
*
*   base blocks
*
========================================================== */
/* ---------------------------------------------
*   header
--------------------------------------------- */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 13.6vw;
  box-sizing: border-box;
  padding: 3.4666666667vw 0;
  transition-property: top,background-color;
  transition-duration: .5s;
  transform: translate3d(0, 0, 0);
  z-index: 11;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  background-color: #fff;
}
.header.open {
  opacity: 0;
  border-bottom: 0.2666666667vw solid #DDD;
  transform: translateX(86.66667vw);
  background-color: #fff;
}
.header.header-scroll {
  top: -13.6vw;
}
.header:not(.bg-white):before {
  display: none;
}

.header.bg-white .header-logo__link {
  width: 45.3333333333vw;
  background: url(/img/sp/logo.svg) center center no-repeat;
}
.header.bg-white .header-nav__link-num {
  color: #000;
}
.header.bg-white .header-nav__list-item--search div {
  background: url("/img/sp/icon_search.svg") center center no-repeat;
}
.header.bg-white .header-nav__list-item--cage a {
  background: url("/img/sp/icon_cage.svg") center center no-repeat;
}
.page-space .header .header-trigger span {
  background-color: #000;
}
.page-space .header .header-logo__link {
  background: url(/img/sp/logo.svg) center center no-repeat;
}
.page-space .header .header-nav__link-num {
  color: #000;
}
.page-space .header .header-nav__list-item--search div {
  background: url("/img/sp/icon_search.svg") center center no-repeat;
}
.page-space .header .header-nav__list-item--cage a {
  background: url("/img/sp/icon_cage.svg") center center no-repeat;
}

/*  header-container
--------------------------------------------- */
/*  header-trigger
--------------------------------------------- */
.header-trigger {
  position: absolute;
  left: 4vw;
  top: 4.2666666667vw;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  z-index: 100;
  font-size: 14px; 
}

.header-trigger span {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  transition: all .5s;
}

/*  header-nav
--------------------------------------------- */
.header-nav {
  position: absolute;
  right: 30vw;
  top: 32%;
  transform: translateY(-50%);
}
.header-nav__list {
  display: flex;
  align-items: center;
}
.header-nav__list-item--search div {
  background: url("/img/sp/icon_search_white.svg") center center no-repeat;
}
.header-nav__list-item--cage a {
  display: block;
  margin-top: -4px;
  background: url("img/pc/shopping-cart.svg") center center no-repeat;
}
.header-nav__list-item:nth-of-type(n + 2) {
  margin-left: 3.7333333333vw;
}
.header-nav__link {
  position: relative;
  display: block;
  width: 5.3333333333vw;
  height: 5.8666666667vw;
}
.header-nav__link img {
  display: block;
}
.header-nav__link-num {
  position: absolute;
  display: block;
  bottom: 0.2666666667vw;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

/*  header-search
--------------------------------------------- */
.header-search {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 22.6666666667vw 5.3333333333%;
  box-sizing: border-box;
  overflow-y: scroll;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.85);
}
.header-search .inputSpSearch {
  width: 60%;
  border: 1px solid #ccc;
  padding: 9px 15px;
  border-radius: 20px;
}

/* -- header-search-close -- */
.header-search-close {
  position: fixed;
  top: 4vw;
  right: 5.3333333333vw;
  width: 10.6666666667vw;
  height: 10.6666666667vw;
  background: url(/img/sp/icon_modal_close.svg) 50% 50% no-repeat;
  background-size: 5.3333333333vw 5.3333333333vw;
  cursor: pointer;
  transition: opacity 300ms;
}
.header-search-close:hover {
  opacity: 0.8;
}

/* -- header-search-inner -- */
.header-search-inner {
  position: relative;
  z-index: 1;
}

/* -- header-search-overlay -- */
.header-search-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/*  search-style
--------------------------------------------- */
.search-styling {
  position: relative;
}
.search-styling__icon {
  position: absolute;
  top: 50%;
  right: 2.6666666667vw;
  width: 3.7333333333vw;
  height: 0;
  padding-top: 3.7333333333vw;
  background: url(/img/sp/icon_nav_search.svg) 0 0 no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  border: none;
  outline: none;
  transform: translateY(-50%);
}
.search-styling__frame {
  position: absolute;
  top: 0;
  left: -11.2vw;
  bottom: 0;
  width: 111.2vw;
  padding: 1.3333333333vw 13.3333333333vw 1.3333333333vw 5.3333333333vw;
  box-sizing: border-box;
  font-size: 5.0666666667vw;
  transform: scale(0.8);
  -webkit-appearance: textfield;
  margin: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-styling__frame::-webkit-input-placeholder {
  font-size: 5.0666666667vw;
  line-height: normal;
}
.search-styling__suggest {
  position: absolute;
  width: 100%;
  margin-top: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #cdcdcd;
  border-radius: 5px;
}
.search-styling__suggest li {
  padding: 10px;
  font-size: 3.4666666667vw;
}

/*  iPhone Style
--------------------------------------------- */
.iphone .search-styling__frame::-webkit-input-placeholder {
  position: relative;
  top: -.1em;
}

/*  search-style-form
--------------------------------------------- */
.search-style-form {
  height: 11.0666666667vw;
  box-sizing: border-box;
  border-radius: 2.1333333333vw !important;
  border: 0.2666666667vw solid #888;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}

/*  header-menu-outer
--------------------------------------------- */
.header-menu-outer {
  margin-top: 8vw;
}

/*  header-menu
--------------------------------------------- */
.header-menu {
  color: #fff;
}
.header-menu:nth-of-type(n + 2) {
  margin-top: 4vw;
}
.header-menu__title {
  font-size: 3.4666666667vw;
  margin-bottom: 5.3333333333vw;
}
.header-menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header-menu__list-item {
  margin-right: 1.8666666667vw;
  margin-bottom: 4vw;
}

/*  header-tag
--------------------------------------------- */
.header-tag {
  display: block;
  border-radius: 1.6vw;
  padding: 1.6vw 2.1333333333vw;
  letter-spacing: -.06em;
  border: 1px solid #fff;
  white-space: nowrap;
  font-size: 3.4666666667vw;
}

/*  header-for-help helpページ用
--------------------------------------------- */
.header-for-help {
  position: absolute;
  top: 0;
  width: 10.6666666667vw;
  height: 10.6666666667vw;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  z-index: 100;
}
.header-for-help a {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
}
.header-for-help a:before {
  content: "＜";
  position: absolute;
  font-size: 3.7333333333vw;
  top: 15px;
  left: 15px;
}

body.error .header:before,
body.article .header:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  background-color: #fff;
}
body.error .header .header-trigger span,
body.article .header .header-trigger span {
  background-color: #000;
}
body.error .header .header-logo__link,
body.article .header .header-logo__link {
  background: url(/img/sp/logo.svg) center center no-repeat;
}
body.error .header .header-nav__link-num,
body.article .header .header-nav__link-num {
  color: #000;
}
body.error .header .header-nav__list-item--search div,
body.article .header .header-nav__list-item--search div {
  background: url("/img/sp/icon_search.svg") center center no-repeat;
}
body.error .header .header-nav__list-item--cage a,
body.article .header .header-nav__list-item--cage a {
  background: url("/img/sp/icon_cage.svg") center center no-repeat;
}
body.error .wrapper,
body.article .wrapper {
  margin-top: 51px;
}

body.sale .header .header-trigger span {
  background-color: #000;
}
body.sale .header .header-logo__link {
  background: url(/img/sp/logo.svg) center center no-repeat;
}
body.sale .header .header-nav__link-num {
  color: #000;
}
body.sale .header .header-nav__list-item--search div {
  background: url("/img/sp/icon_search.svg") center center no-repeat;
}
body.sale .header .header-nav__list-item--cage a {
  background: url("/img/sp/icon_cage.svg") center center no-repeat;
}

/* ---------------------------------------------
*   wrapper
--------------------------------------------- */
.wrapper {
  transition: all .5s;
}
.wrapper.open {
  transform: translateX(86.66667vw);
}
.page-space .wrapper {
  margin-top: 13.6vw;
}

body.error .wrapper {
  margin-top: 51px;
}

/* ---------------------------------------------
*   global-nav
--------------------------------------------- */
.global-nav {
  display: none;
  position: relative;
  width: 86.6666666667%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  transform: translate(-86.66667vw);
  transition: transform .5s;
}
.global-nav .text-bold {
  font-weight: 500;
}
.global-nav.loaded {
  display: block;
}
.global-nav__menu {
  height: 13.6vw;
  box-sizing: border-box;
  border-bottom: 0.2666666667vw solid #DDD;
}
.global-nav__menu-list {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2.6666666667vw;
  box-sizing: border-box;
}
.global-nav__menu-list-item {
  position: relative;
  margin-right: 8vw;
}
.global-nav__menu-list-item:before {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: -4vw;
  width: 0.2666666667vw;
  height: 2.6666666667vw;
  background-color: #404040;
  transform: translateY(-50%);
}
.global-nav__menu-list-item:last-child {
  margin-right: 0;
}
.global-nav__menu-list-item:last-child:before {
  display: none;
}
.global-nav__menu-link {
  color: #404040;
  font-size: 3.2vw;
}
.global-nav__target {
  position: relative;
  padding-bottom: 1em;
}
.global-nav__target:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 6.6666666667vw;
  width: 6.1333333333vw;
  height: 0.2666666667vw;
  background-size: 100% auto;
}
.global-nav__target:last-child:before {
  display: none;
}
.global-nav__target-title {
  padding: 4vw 4vw 1.8666666667vw;
  color: #404040;
  font-size: 4.2666666667vw;
  font-weight: 500;
}
.global-nav__target-title.sub-brand {
  padding-left: 1.5em;
  position: relative;
  font-size: 4.8vw;
}
.global-nav__target-title.sub-brand:before {
  content: '-';
  padding-right: .3em;
}
.global-nav__list {
  padding: 3.2vw 6.6666666667vw;
}
.global-nav__list.brand-banner {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.global-nav__list.brand-banner .global-nav__list-item {
  width: 48%;
  margin-top: 0;
  text-align: center;
}
.global-nav__list.brand-banner .global-nav__list-item .image {
  border: 1px solid #e2e2e2;
}
.global-nav__list-item:nth-of-type(n + 2) {
  margin-top: 3.2vw;
}
.global-nav__list-item:nth-of-type(n + 2).narrow {
  margin-top: 2.6666666667vw;
}
.global-nav__link {
  color: #404040;
  font-size: 3.4666666667vw;
}
.global-nav__link.sale {
  color: #970002;
  font-size: 4.5333333333vw;
  font-weight: 500;
}
.global-nav__member-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: 100%;
  padding: 1.8666666667vw 4vw;
}
.global-nav__member-info .member-name {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
}
.global-nav__member-info .member-rank {
  font-size: 11px;
}
.global-nav__member-info .member-point {
  position: relative;
  font-size: 11px;
  margin-left: 4vw;
  padding-left: 4vw;
}
.global-nav__member-info .member-point:before {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  width: 0.2666666667vw;
  height: 2.6666666667vw;
  background-color: #404040;
  transform: translateY(-50%);
}
.global-nav.open {
  transform: translateZ(0);
}
.global-nav.open:before {
  content: "";
  position: absolute;
  top: 0;
  right: -13.3333333333vw;
  bottom: 0;
  width: 13.3333333333vw;
  height: 13.3333333333vw;
  background: #fff url(/img/sp/icon_close_white.png) 50% 50% no-repeat;
  background-size: 4vw 4vw;
  transition: all 0.8s;
  border-bottom: 0.2666666667vw solid #DDD;
}

/*  global-nav-inner
--------------------------------------------- */
.global-nav-inner {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/*  global-nav-contents
--------------------------------------------- */
.global-nav-contents {
  position: absolute;
  top: 13.8666666667vw;
  left: 0;
  z-index: 999;
  width: 100%;
  height: calc(100vh - 13.6vw);
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 5.3333333333vw 0 32vw;
  transition: transform .3s;
}
.global-nav-contents--sub {
  transform: translate3d(100%, 0, 0);
}
.global-nav-contents.is-show {
  transform: translate3d(0, 0, 0);
}
.global-nav-contents.is-hide {
  transform: translate3d(-100%, 0, 0);
}

/*  global-nav-contents-outer
--------------------------------------------- */
.global-nav-contents-outer {
  display: none;
}

/*  global-nav-contents-return
--------------------------------------------- */
.global-nav-contents-return {
  position: relative;
  margin-bottom: 5.3333333333vw;
}
.global-nav-contents-return__link {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 6.6666666667vw;
  display: block;
  z-index: 1;
  color: #404040;
  transform: translateY(-50%);
}
.global-nav-contents-return__link:before {
  content: "＜";
  position: absolute;
  top: 10px;
  bottom: 0;
  font-size: 3.7333333333vw;
}
.global-nav-contents-return__text {
  padding: 0 16vw;
  text-align: center;
  color: #404040;
  font-size: 4.2666666667vw;
}
.global-nav-contents-return__text img {
  max-width: 100%;
  width: auto;
}

.global-nav-contents-return.brand-logo {
  height: 40px;
  margin-bottom: 30px;
}
.global-nav-contents-return.brand-logo .global-nav-contents-return__link {
  top: 65%;
}
.global-nav-contents-return.brand-logo .global-nav-contents-return__text {
  position: absolute;
  width: 100%;
  padding: 0;
}

/*  global-nav-contents-brand
--------------------------------------------- */
.global-nav-contents-brand {
  position: relative;
  margin-bottom: 13.3333333333vw;
}
.global-nav-contents-brand:before {
  content: "";
  position: absolute;
  bottom: -6.6666666667vw;
  left: 6.6666666667vw;
  width: 73.3333333333vw;
  height: 0.2666666667vw;
  background: url(/img/sp/border_nav.png) 0 0 repeat-x;
  background-size: auto auto;
}
.global-nav-contents-brand a {
  display: block;
  margin-bottom: 1em;
  margin-left: 5.3333333333%;
  position: relative;
}
.global-nav-contents-brand a:before {
  position: absolute;
  display: block;
  left: 17px;
  content: 'SPECIAL';
  font-size: 10px;
  color: #555;
  font-weight: 500;
  vertical-align: top;
}
.global-nav-contents-brand a .item {
  padding-left: 5em;
}
.global-nav-contents-brand a .item .photo {
  margin-bottom: .2em;
}
.global-nav-contents-brand a .item .text {
  font-size: 12px;
  padding-right: 1em;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

/*  sale-menu
--------------------------------------------- */
.sale-menu * {
  color: #970002 !important;
}
.sale-menu .global-nav__target-title {
  padding-bottom: 0;
}
.sale-menu hr {
  padding: 0;
  height: 0;
  border: 0;
  border-top: 1px solid #eee;
  margin-left: 4vw;
  margin-right: 4vw;
}

.sale-icon {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 3px;
  height: 17px;
  border: 1px solid #970002;
  font-size: 2.6666666667vw;
  padding: 0 3px;
  line-height: 16px;
  font-family: 'EB Garamond', serif;
  vertical-align: middle;
}

/* ---------------------------------------------
*   overlay
--------------------------------------------- */
.overlay {
  content: "";
  position: fixed;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  top: 13.6vw;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity .5s;
}

.overlay.open {
  width: 100%;
  height: 100vh;
  opacity: 1;
}

.text-bold {
  font-weight: 500;
}

.text-normal {
  font-size: 14px;
}

.text-middle {
  font-size: 15px;
}

.text-large {
  font-size: 16px;
}

.text-mlarge {
  font-size: 19px;
}

.text-xlarge {
  font-size: 24px;
}

/* ---------------------------------------------
*   breadcrumb
--------------------------------------------- */
.breadcrumb {
  margin-top: 2.6666666667vw;
  margin-bottom: 2.6666666667vw;
}
.breadcrumb__list {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  overflow: auto;
  white-space: nowrap;
  padding-left: 1em;
}
.breadcrumb__list::-webkit-scrollbar {
  display: none;
}
.breadcrumb__item {
  display: inline;
}
.breadcrumb__item:after {
  margin-right: 0.8vw;
  padding-left: 0.5333333333vw;
  content: ">";
  color: #BBB;
}
.breadcrumb__item:last-of-type:after {
  display: none;
}
.breadcrumb__link {
  font-size: 2.6666666667vw;
  color: #525252;
}

/* ---------------------------------------------
*   select-modal
--------------------------------------------- */
/* ---------------------------------------------
*   mod-select-modal
--------------------------------------------- */
.mod-select-modal {
  bottom: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  background-color: #fff;
}
.mod-select-modal.open {
  position: fixed;
}
.mod-select-modal.open .mod-select-modal__item {
  position: absolute;
}
.mod-select-modal#select-modal2, .mod-select-modal#select-modal3 {
  display: none;
  height: 100%;
}
@media screen and (orientation: landscape) {
  .mod-select-modal {
    height: 100%;
  }
}
.mod-select-modal--sort {
  height: 100%;
}
.mod-select-modal__item {
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  background-color: #fff;
/*  height: 100%;*/
  transition: transform 0.3s;
}
.mod-select-modal__item--slide-lv1 {
/*  transform: translateX(0);*/
}
.js-slidemodal-lv2 .mod-select-modal__item--slide-lv1, .js-slidemodal-lv3 .mod-select-modal__item--slide-lv1 {
  overflow: hidden;
}
.js-slidemodal-lv2 .mod-select-modal__item--slide-lv1 {
  transform: translateX(-100%);
}
.js-slidemodal-lv3 .mod-select-modal__item--slide-lv1 {
  transform: translateX(-100%);
}
.mod-select-modal__item--slide-lv2 {
  transform: translateX(100%);
  z-index: 1;
}
.js-slidemodal-lv2 .mod-select-modal__item--slide-lv2 {
  transform: translateX(0%);
}
.js-slidemodal-lv3 .mod-select-modal__item--slide-lv2 {
  transform: translateX(-100%);
}
.mod-select-modal__item--slide-lv3 {
  transform: translateX(100%);
  z-index: 2;
}
.js-slidemodal-lv3 .mod-select-modal__item--slide-lv3 {
  transform: translateX(0%);
}
.mod-select-modal__head {
  position: relative;
  padding-top: 4vw;
  padding-bottom: 4vw;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  text-align: center;
}
.mod-select-modal--sort .mod-select-modal__head {
  border-top-width: 0;
}
.mod-select-modal__heading {
  font-size: 4.2666666667vw;
  color: #525252;
}
.mod-select-modal__close-btn {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background: none;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 13.3333333333vw;
  height: 0;
  padding-top: 9.3333333333vw;
  background: url("/img/sp/icon_xmark_big.svg") center center no-repeat;
  background-size: 4.2666666667vw;
  overflow: hidden;
  cursor: pointer;
}
.mod-select-modal__back-btn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12vw;
  height: 0;
  padding-top: 9.3333333333vw;
  background: url(/img/sp/icon_arrow_gray_left.png) center center no-repeat;
  background-size: 2.6666666667vw 5.3333333333vw;
  overflow: hidden;
  cursor: pointer;
}
.mod-select-modal__scroll {
  height: 100vh;
  overflow-y: auto;
}
@media screen and (orientation: landscape) {
  .mod-select-modal__body {
    overflow-y: auto;
    height: 100%;
  }
}
.mod-select-modal--sort .mod-select-modal__body {
  overflow-y: visible;
  height: auto;
}
.mod-select-modal--sort .mod-select-modal__body-container {
  position: relative;
}
.mod-select-modal--sort .mod-select-modal__body-container.container {
  margin-left: 4vw;
  margin-right: 4vw;
}

/* ---------------------------------------------
*  sort-order (並び順)
--------------------------------------------- */
.sort-order {
  margin-bottom: 8vw;
}
.sort-order__item {
  border-bottom: 1px dotted #DDD;
}
.sort-order__link {
  display: block;
  padding-top: 4.2666666667vw;
  padding-bottom: 4.2666666667vw;
  padding: 4.2666666667vw 0 4.2666666667vw 17.3333333333%;
  color: #404040;
  font-size: 3.4666666667vw;
}
.sort-order__link--current {
  background: url(/img/sp/icon_check.svg) 8% center no-repeat;
  background-size: 4vw 4vw;
}

/* ---------------------------------------------
*   select-display（表示）
--------------------------------------------- */
.select-display {
  padding-top: 8vw;
  padding-bottom: 14.6666666667vw;
}
.select-display__list {
  margin-bottom: 9.3333333333vw;
}
.select-display__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 6.6666666667vw;
}
.select-display__item:last-of-type {
  margin-bottom: 0;
}
.select-display__item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 26.6666666667vw;
}
.select-display__item-head-txt {
  font-size: 3.4666666667vw;
  color: #707070;
}
.select-display__item-body {
  width: calc(100% - 26.66667vw);
}

/* ---------------------------------------------
*   mod-input-btn
--------------------------------------------- */
.mod-input-btn--item-type {
  margin-top: 1.8666666667vw;
  margin-bottom: 1.8666666667vw;
}
.mod-input-btn--item-price, .mod-input-btn--item-stock {
  margin-top: 3.4666666667vw;
  margin-bottom: 3.4666666667vw;
}
.mod-input-btn__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mod-input-btn--al-right .mod-input-btn__list {
  justify-content: flex-end;
}
.mod-input-btn--col2 .mod-input-btn__item {
  width: 29.3333333333vw;
}
.mod-input-btn--col3 .mod-input-btn__item {
  width: 19.0933333333vw;
}
.mod-input-btn--col4 .mod-input-btn__item {
  width: 15.4666666667vw;
}
.mod-input-btn--al-right .mod-input-btn__item {
  margin-right: 1.3333333333vw;
}
.mod-input-btn--al-right .mod-input-btn__item:last-of-type {
  margin-right: 0;
}
.mod-input-btn__input {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background: none;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}
.mod-input-btn__input + span {
  display: block;
  padding-top: 2.9333333333vw;
  padding-bottom: 2.9333333333vw;
  color: #999;
  border: 1px solid #CCC;
  border-radius: 0.8vw;
  text-align: center;
  font-size: 3.4666666667vw;
}
.mod-input-btn--col4 .mod-input-btn__input + span {
  padding-top: 2.4vw;
  padding-bottom: 2.4vw;
}
.mod-input-btn__input:checked + span {
  color: #fff;
  background-color: #666;
  border-color: #666;
}

/* ---------------------------------------------
*  mod-input-check
--------------------------------------------- */
.mod-input-check {
  margin-top: 5.3333333333vw;
  margin-bottom: 5.3333333333vw;
}
.mod-input-check__list {
  display: flex;
  justify-content: flex-end;
}
.mod-input-check__item {
  margin-right: 6.4vw;
}
.mod-input-check__item:last-of-type {
  margin-right: 0;
}
.mod-input-check__label {
  cursor: pointer;
}
.mod-input-check__input {
  display: none;
  -webkit-appearance: none;
  appearance: none;
}
.mod-input-check__input + span {
  position: relative;
  display: inline-block;
  padding-left: 4.8vw;
  font-size: 3.7333333333vw;
  color: #666;
  background: url(/img/sp/icon_check_default.svg) 0 center no-repeat;
  background-size: 4vw 4vw;
}
.mod-input-check__input:checked + span {
  background-image: url(/img/sp/icon_check_checked.svg);
}

/*  mod-btn
--------------------------------------------- */
.mod-btn button {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background: none;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding-top: 3.2vw;
  padding-bottom: 3.2vw;
  border-radius: 0.8vw;
  background-color: #333;
  color: #fff;
  font-size: 3.2vw;
  cursor: pointer;
}

/* ---------------------------------------------
*   sort-block
--------------------------------------------- */
.sort-block {
  padding-top: 7.4666666667vw;
  padding-bottom: 90vw;
}
.sort-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: 1px dotted #CCC;
}
.sort-block__item:last-of-type {
  border-bottom: 1px dotted #CCC;
}
.sort-block__item.js-sub-data {
  display: none;
}
.sort-block__item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 24vw;
  box-sizing: border-box;
}
.sort-block__item-head-txt {
  font-size: 4vw;
  color: #666;
}
.sort-block__item-body {
  width: 64.5333333333vw;
  box-sizing: border-box;
}
.sort-block__item-txt {
  display: block;
  padding: 4.8vw 6.6666666667vw 4.8vw 0.5em;
  font-size: 3.4666666667vw;
  color: #666;
  text-align: right;
  cursor: pointer;
  background: url(/img/sp/icon_arrow_gray_right.png) calc(100% - 1.33333vw) center no-repeat;
  background-size: 1.6vw 3.2vw;
}

/* ---------------------------------------------
*   sort-search
--------------------------------------------- */
.sort-search {
  margin-bottom: 8vw;
  height: 10.9333333333vw;
  position: relative;
}
@media screen and (max-width: 374px) {
  .sort-search {
    height: 35px;
  }
}
.sort-search__input {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background: none;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 4.8vw;
  padding-right: 1em;
  font-size: 16px;
  border: 1px solid #999;
  border-radius: 0.8vw;
  color: #666;
}
@media screen and (min-width: 414px) {
  .sort-search__input {
    font-size: 5.0666666667vw;
  }
}
.sort-search__input:-ms-input-placeholder {
  color: #CECECE;
  font-size: 14px;
}
@media screen and (min-width: 414px) {
  .sort-search__input:-ms-input-placeholder {
    font-size: 4.2666666667vw;
  }
}
.sort-search__input::-webkit-input-placeholder {
  color: #CECECE;
  font-size: 14px;
}
@media screen and (min-width: 414px) {
  .sort-search__input::-webkit-input-placeholder {
    font-size: 4.2666666667vw;
  }
}
.sort-search__input:-moz-placeholder {
  color: #CECECE;
  font-size: 14px;
}
@media screen and (min-width: 414px) {
  .sort-search__input:-moz-placeholder {
    font-size: 4.2666666667vw;
  }
}
.sort-search__input::-moz-placeholder {
  color: #CECECE;
  font-size: 14px;
  opacity: 1;
}
@media screen and (min-width: 414px) {
  .sort-search__input::-moz-placeholder {
    font-size: 4.2666666667vw;
  }
}
.sort-search__input::placeholder {
  color: #CECECE;
  font-size: 14px;
}
@media screen and (min-width: 414px) {
  .sort-search__input::placeholder {
    font-size: 4.2666666667vw;
  }
}
@media screen and (max-width: 374px) {
  .sort-search__input {
    height: 35px;
  }
}
.sort-search__suggest {
  position: absolute;
  width: 100%;
  margin-top: 0.5333333333vw;
  padding-top: 1.3333333333vw;
  padding-bottom: 1.3333333333vw;
  background: #fff;
  border: 1px solid #999;
  box-sizing: border-box;
  border-radius: 1.0666666667vw;
}
.sort-search__suggest li {
  padding: 2.6666666667vw 4.8vw;
  font-size: 3.4666666667vw;
  color: #666;
}

/* ---------------------------------------------
*  sort-acc
--------------------------------------------- */
.sort-acc__btn {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background: none;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 37.3333333333vw;
  box-sizing: border-box;
  margin: 8vw auto;
  padding-top: 2.6666666667vw;
  padding-bottom: 2.6666666667vw;
  font-size: 3.7333333333vw;
  color: #707070;
  text-align: center;
  cursor: pointer;
}
.sort-acc__btn-img {
  position: relative;
  top: -0.1em;
  display: inline-block;
  width: 4.2vw;
  margin-left: 0.8vw;
  vertical-align: middle;
}
.js-sort-acc-open .sort-acc__btn-img.open {
  display: none;
}
.sort-acc__btn-img.close {
  display: none;
}
.js-sort-acc-open .sort-acc__btn-img.close {
  display: inline-block;
}
.sort-acc .js-sort-target {
  display: none;
}
.sort-acc .js-sort-target li:last-child {
  border-bottom: none;
}

/* ---------------------------------------------
*   sort-price  (絞り込み：価格帯)
--------------------------------------------- */
.sort-price {
  margin-top: 3.4666666667vw;
  margin-bottom: 3.4666666667vw;
}
.sort-price__list {
  display: flex;
  justify-content: flex-end;
}
.sort-price__item {
  position: relative;
  width: 21vw;
  height: 9.3333333333vw;
  margin-right: 6.4vw;
}
@media screen and (min-width: 415px) {
  .sort-price__item {
    width: 22vw;
  }
}
@media screen and (max-width: 375px) {
  .sort-price__item {
    height: 30px;
  }
}
.sort-price__item:last-of-type {
  margin-right: 0;
}
.sort-price__item:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3.4666666667vw;
  color: #999;
  vertical-align: middle;
  line-height: 1;
}
.sort-price__item--price-to:before {
  left: -4.8vw;
  content: '〜';
}
.sort-price__input {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background: none;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  border: 1px solid #CCC;
  border-radius: 0.8vw;
  color: #666;
}
@media screen and (min-width: 414px) {
  .sort-price__input {
    font-size: 4.4vw;
  }
}
.sort-price__input:-ms-input-placeholder {
  color: #CECECE;
  font-size: 14px;
}
@media screen and (min-width: 414px) {
  .sort-price__input:-ms-input-placeholder {
    font-size: 4.2666666667vw;
  }
}
.sort-price__input::-webkit-input-placeholder {
  color: #CECECE;
  font-size: 14px;
}
@media screen and (min-width: 414px) {
  .sort-price__input::-webkit-input-placeholder {
    font-size: 4.2666666667vw;
  }
}
.sort-price__input:-moz-placeholder {
  color: #CECECE;
  font-size: 14px;
}
@media screen and (min-width: 414px) {
  .sort-price__input:-moz-placeholder {
    font-size: 4.2666666667vw;
  }
}
.sort-price__input::-moz-placeholder {
  color: #CECECE;
  font-size: 14px;
  opacity: 1;
}
@media screen and (min-width: 414px) {
  .sort-price__input::-moz-placeholder {
    font-size: 4.2666666667vw;
  }
}
.sort-price__input::placeholder {
  color: #CECECE;
  font-size: 14px;
}
@media screen and (min-width: 414px) {
  .sort-price__input::placeholder {
    font-size: 4.2666666667vw;
  }
}

/*  mod-btns
--------------------------------------------- */
.mod-btns {
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 100%;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  transition: opacity .3s, transform .3s;
}
.android .mod-btns.js-is-focus {
  opacity: 0;
  transform: translate(-50%, 50px);
}
.mod-btns__btn-clear, .mod-btns__btn-submit {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background: none;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  padding-top: 3.4666666667vw;
  padding-bottom: 3.4666666667vw;
  font-size: 3.2vw;
  text-align: center;
  border-radius: 0.8vw;
  cursor: pointer;
}
.mod-btns__btn-clear {
  width: 25.0666666667vw;
  border: 1px solid #999;
  color: #999;
  background-color: #fff;
  margin-right: 2.1333333333vw;
}
.mod-btns__btn-submit {
  width: 62.6666666667vw;
  border: 1px solid #333;
  color: #fff;
  background-color: #333;
}

/* ---------------------------------------------
*   select-modal-overlay
--------------------------------------------- */
.select-modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(255, 255, 255, 0.82);
}

/* ---------------------------------------------
*   select-detail
--------------------------------------------- */
.select-detail {
  display: none;
  padding-bottom: 32vw;
  margin-left: 5.3333333333vw;
  margin-right: 5.3333333333vw;
}
.select-detail__container {
  height: 100vh;
  overflow-y: auto;
}

/* ---------------------------------------------
*   brand-detail
--------------------------------------------- */
.brand-detail {
  padding-bottom: 55vw;
}
.brand-detail__item {
  margin-bottom: 11.2vw;
}
.brand-detail__item:last-of-type {
  margin-bottom: 0;
}
.brand-detail__item-ttl {
  padding-top: 3.4666666667vw;
  padding-bottom: 3.4666666667vw;
  padding-left: 0.8vw;
  border-bottom: 1px solid #CCC;
  font-size: 4vw;
  font-weight: 500;
  color: #707070;
}
.brand-detail .mod-detail-check__input + span {
  background-position: 0 center;
  padding-left: 5.3333333333vw;
}
.brand-detail .mod-detail-check__input:checked + span {
  background-position: 0 center;
}
.brand-detail__body .mod-sub-detail-check__input + span {
  background-position: 0 center;
  padding-left: 5.3333333333vw;
}
.brand-detail__body .mod-sub-detail-check__input:checked + span {
  background-position: 0 center;
}

/* ---------------------------------------------
*  mod-detail-check
--------------------------------------------- */
.mod-detail-check__item {
  border-bottom: 1px dotted #CCC;
}
.mod-detail-check__item:last-of-type {
  margin-right: 0;
}
.mod-detail-check__label {
  cursor: pointer;
}
.mod-detail-check__input {
  display: none;
  -webkit-appearance: none;
  appearance: none;
}
.mod-detail-check__input + span {
  position: relative;
  display: block;
  padding-top: 4.2666666667vw;
  padding-bottom: 4.2666666667vw;
  padding-left: 6.6666666667vw;
  font-size: 3.7333333333vw;
  color: #666;
}
.mod-detail-check--size .mod-detail-check__input + span {
  background: url(/img/sp/icon_check_default2.svg) 1.3333333333vw center no-repeat;
  background-size: 4vw 4vw;
}
.mod-detail-check__input:checked + span {
  background: url(/img/sp/icon_check_checked2.svg) 1.3333333333vw center no-repeat;
  background-size: 4vw 4vw;
}

/* ---------------------------------------------
*  mod-sub-detail-check
--------------------------------------------- */
.mod-sub-detail-check__item {
  border-bottom: 1px dotted #CCC;
}
.mod-sub-detail-check__item:last-of-type {
  margin-right: 0;
}
.mod-sub-detail-check__label {
  cursor: pointer;
}
.mod-sub-detail-check__input {
  display: none;
  -webkit-appearance: none;
  appearance: none;
}
.mod-sub-detail-check__input + span {
  position: relative;
  display: block;
  padding-top: 4.2666666667vw;
  padding-bottom: 4.2666666667vw;
  padding-left: 13.3333333333vw;
  font-size: 3.7333333333vw;
  color: #666;
}
.mod-sub-detail-check--size .mod-sub-detail-check__input + span {
  background: url(/img/sp/icon_check_default2.svg) 5.3333333333vw center no-repeat;
  background-size: 4vw 4vw;
}
.mod-sub-detail-check__input:checked + span {
  background: url(/img/sp/icon_check_checked2.svg) 5.3333333333vw center no-repeat;
  background-size: 4vw 4vw;
}

/* ---------------------------------------------
*   category-detail （カテゴリ:2階層目）
--------------------------------------------- */
.category-detail {
  padding-bottom: 32vw;
}
.category-detail__item {
  border-bottom: 1px dotted #CCC;
}
.category-detail__txt {
  display: block;
  padding-left: 5.8666666667vw;
  padding-top: 4.8vw;
  padding-bottom: 4.8vw;
  padding-right: 6.6666666667vw;
  background: url(/img/sp/icon_modal_arrow_right.svg) calc(100% - 6.4vw) center no-repeat;
  background-size: 1.6vw 3.2vw;
  font-size: 3.7333333333vw;
  color: #666;
  cursor: pointer;
}

/* ---------------------------------------------
*   category-detail-sub （カテゴリ:3階層目）
--------------------------------------------- */
.category-detail-sub {
  display: none;
  padding-bottom: 33.3333333333vw;
}

/* ---------------------------------------------
*  color-check
--------------------------------------------- */
.color-check {
  margin-top: 5.3333333333vw;
  margin-bottom: 5.3333333333vw;
  padding-left: 1.3333333333vw;
  padding-right: 1.3333333333vw;
  padding-bottom: 32vw;
}
.color-check__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.color-check__item {
  width: 15.2vw;
  height: 15.2vw;
  box-sizing: border-box;
  border-radius: 0.8vw;
  margin-right: 2.6666666667vw;
}
.color-check__item:nth-of-type(5n) {
  margin-right: 0;
}
.color-check__item:nth-of-type(n+6) {
  margin-top: 5.3333333333vw;
}
.color-check__item--white {
  background-color: #fff;
  border: 1px solid #CCC;
}
.color-check__item--gray {
  background-color: #808080;
}
.color-check__item--black {
  background-color: #000;
}
.color-check__item--red {
  background-color: #D92144;
}
.color-check__item--pink {
  background-color: #FFC0CB;
}
.color-check__item--orange {
  background-color: #FA6126;
}
.color-check__item--brown {
  background-color: #8A311B;
}
.color-check__item--yellow {
  background-color: #FFD537;
}
.color-check__item--green {
  background-color: #019F7B;
}
.color-check__item--blue {
  background-color: #248DEC;
}
.color-check__item--purple {
  background-color: #A626A7;
}
.color-check__item--gold {
  background: url(/img/sp/products/img_btn_gold.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.color-check__item--silver {
  background: url(/img/sp/products/img_btn_silver.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.color-check__item--other {
  background: url(/img/sp/products/img_btn_other.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.color-check__label {
  cursor: pointer;
}
.color-check__input {
  display: none;
  -webkit-appearance: none;
  appearance: none;
}
.color-check__input + span {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-top: 14.6666666667vw;
  font-size: 3.4666666667vw;
  color: #666;
  overflow: hidden;
}
.color-check__input:checked + span {
  background: url(/img/sp/icon_checked3.svg) center center no-repeat;
  background-size: 5.6vw 5.6vw;
}
.color-check__item--white .color-check__input:checked + span {
  background-image: url(/img/sp/icon_checked2.svg);
}

/* ---------------------------------------------
*   particular-select
--------------------------------------------- */
.particular-select {
  padding-top: 2.6666666667vw;
  padding-bottom: 55vw;
}
.particular-select__item {
  margin-bottom: 10.6666666667vw;
}
.particular-select__item-ttl {
  padding-bottom: 1.3333333333vw;
  padding-left: 2.6666666667vw;
  font-size: 4vw;
  font-weight: bold;
  color: #666;
  border-bottom: 1px dotted #CCC;
}
.particular-select__item-body {
  padding-top: 4vw;
  padding-left: 2.6666666667vw;
}

/* ---------------------------------------------
*  particular-check
--------------------------------------------- */
.particular-check__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.particular-check__item {
  width: 27.4666666667vw;
  margin-right: 2.1333333333vw;
}
.particular-check__item:nth-of-type(3n) {
  margin-right: 0;
}
.particular-check__item:nth-of-type(n+4) {
  margin-top: 4vw;
}
.particular-check__item:last-of-type {
  margin-right: 0;
}
.particular-check__label {
  cursor: pointer;
}
.particular-check__input {
  display: none;
  -webkit-appearance: none;
  appearance: none;
}
.particular-check__input + span {
  position: relative;
  display: block;
  padding-top: 1.3333333333vw;
  padding-bottom: 1.3333333333vw;
  padding-left: 5.3333333333vw;
  font-size: 3.7333333333vw;
  color: #666;
  background: url(/img/sp/icon_check_default2.svg) 0 0.6em no-repeat;
  background-size: 4vw 4vw;
  letter-spacing: -0.1vw;
}
.particular-check__input:checked + span {
  background-image: url(/img/sp/icon_check_checked2.svg);
}

/* ---------------------------------------------
*   footer
--------------------------------------------- */
/*  footer-nav
--------------------------------------------- */
.footer-nav {
  margin-bottom: 10.1333333333vw;
}
.footer-nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 2.6666666667vw;
}
.footer-nav__list-item:last-child .footer-nav__link:before {
  display: none;
}
.footer-nav__link {
  position: relative;
  padding: 0 2.9333333333vw;
  line-height: 2;
  color: #5A5A5A;
}
.footer-nav__link:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 0.2666666667vw;
  height: 2.1333333333vw;
  background-color: #5A5A5A;
  transform: translateY(-50%);
}

/*  footer-logo
--------------------------------------------- */
.footer-logo {
  display: block;
  overflow: hidden;
  padding-top: 4vw;
  width: 42.9333333333vw;
  height: 0;
  background: url(/img/sp/title_yac.png) 0 0 no-repeat;
  background-size: 100% auto;
  margin-right: auto;
  margin-left: auto;
}

/*  footer-copyright
--------------------------------------------- */
.footer-copyright {
  text-align: center;
  padding-top: 3.4666666667vw;
  padding-bottom: 8vw;
}
.footer-copyright__text {
  display: block;
  color: #5A5A5A;
  font-size: 2.6666666667vw;
}

body.article .help-area, body.article .group-area {
  display: none;
}
